/* ========= General ========= */
html {
  /* disable copy/paste */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 { /* Home "Jasmine Zeng" */
  color: #f2ffef;
  font-family: 'Satisfy', 'cursive';
  font-size: 7.5vw;
  text-align: center;
}

h2 {
  color: rgb(2, 2, 2);
  font-family: 'Source Serif Pro', serif;
  font-size: 3.5vw;
  text-align: center;
}

h3 { /* Different Hello */
  color: #f2ffef;
  font-family: 'Satisfy', 'cursive';
  font-size: 3.5vw;
  text-align: center;
} 

p {
  color: rgb(2, 2, 2);
  font-family: 'Source Serif Pro', serif;
  font-size: 1.6vw;
  /* text-align: justify; */
  padding: 5vh 10vw 0;
  margin: 0;
}
/* ========== Navbar ========== */
.navbar {
  background-color: hsl(0, 0%, 92%);
}

.navbar-brand, .nav-link, .dropdown-item {
  color:rgb(2, 2, 2)!important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: 'Playball', cursive;
}

.btn-group {
  display: relative;
  display: inline-block;
}

.btn-group:hover .dropdown-menu {
  display: inline;
}
/* ========== Jumbotron ========== */
.hero-image {
  background-image: url('./images/patSinLeng1.jpeg');
  height: 900px;
  width: 100%;
  /* overlay effect */
  background-color: rgba(0,0,0,0.6);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ========== About Me ========== */
.about-me-container {
  width: 100%;
  height: 50vh;
  background-color: aliceblue;
  padding: 10vh 0 10vh;
  /* Clear fix: prevent floating elements from overlapping */
  content: "";
  clear: both;
  display: table;
}

.about-me-image-overlay-container {
  position: relative;
  width: 35vw;
  float: left;
}

.about-me-image {
  display: block;
  width: 40vw;
  height: auto;
  float: left;
  padding: 5vh 3vw 0 7vw; /* T-R-B-L */
}

.about-me-image-overlay {
  position: absolute;
  top: 7%;
  bottom: 0;
  left: 20%;
  right: 10vw;
  width: 86%;
  height: 93%;
  opacity: 0; /* The lower the value, the more transparent */
  transition: .5s ease;
  background-color: rgb(135,206,230);
}

.about-me-image-overlay-container:hover .about-me-image-overlay {
  opacity: 0.85;
}

.about-me-image-overlay-text {
  color: rgb(2, 2, 2);
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.about-me-container p {
  margin-left: 35vw;
  padding: 5vh 7vw 0 6vw;
}
/* ========== hkIslandHikes ========== */
.hkIslandHikesBanner {
  height: 30vh;
  padding-top: 13vh;
  margin-bottom: 3vh;
}

.hkIslandHikesBanner h1 {
  color: rgb(2, 2, 2);
}

.articles {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  /* min-height: 100%; */
  
  /* sets up hover state */
  position: relative;
  top: 0;
  transition: all .1s ease-in;
    
  /* &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  } */
}

.thumb {
  padding-bottom: 50vh;
  background-size: cover;
  background-position: center center;
}
  
article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.item-1 {
  @media (min-width: 60em) {
    grid-column: 1 / span 2;

    h1 {
      font-size: 24px;
    }
  }
}
/* ========== Contact & Footer ========== */
.contact {
  background-color: hsl(0, 0%, 92%);
}

.fab {
  font-size: 4.5vw;
  color: #2867B2;
  padding: 2.5vw 1vw 1.5vw 2vw;
  /* IG icon customized color */
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  padding-left: 2vw;
}
/* ========== Responsive Web ========== */
/* If the screen size is 100px wide or less, set the ... of <XXX> to... */
@media screen and (max-width: 800px) {
  .navbar-brand {
    font-size: 15px;
  }
  
  .hero-image {
    height: 90vh;
  }
  
  h1 {
    font-size: 11vw;
  }

  h2 {
    font-size: 6vw;
    padding: 8vh 3vw 0vh;
  }

  h3 {
    font-size: 1.2rem;
    padding: 3vh 3vw;
  }

  p {
    font-size: 15px;
    padding: 3vh 8vw;
  }
}