/* ========= General ========= */
html {
  /* disable copy/paste */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: rgb(2, 2, 2);
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  /* text-align: justify; */
  padding: 5vh 10vw 0rem;
  margin: 0;
}

li {
  margin-bottom: 2px;
}
/* ========== Navbar ========== */
.navbar {
  background-color: hsl(0, 0%, 92%);
}

.navbar-brand, .nav-link, .dropdown-item {
  color:rgb(2, 2, 2)!important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: 'Playball', cursive;
}
/* ========== About Me ========== */
.about-me-container {
  width: 100%;
  height: 50vh;
  background-color: aliceblue;
  padding: 10vh 0 10vh; /* top-right&left-bottom */
  /* Clear fix: prevent floating elements from overlapping */
  content: "";
  clear: both;
  display: table;
}

.about-me-image {
  float: left;
  width: 35vw;
  height: auto;
}

.about-me-container img {
  margin-right: 3vw;
}
/* ========== Contact & Footer ========== */
.contact {
  background-color: hsl(0, 0%, 92%);
}

.fab {
  font-size:4.5vw;
  color:#2867B2;
  padding: 2.5vw 1vw 1.5vw 2vw;
  /* IG icon customized color */
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  padding-left: 2vw;
}
/* ========== Responsive Web ========== */
/* If the screen size is 100px wide or less, set the ... of <XXX> to... */
@media screen and (max-width: 800px) {
  .navbar-brand {
    font-size: 15px;
  }
  
  .hero-image {
    height: 90vh;
  }
  
  h1 {
    font-size: 11vw;
  }

  h2 {
    font-size: 6vw;
    padding: 8vh 3vw 0vh;
  }

  h3 {
    font-size: 1.2rem;
    padding: 3vh 3vw;
  }

  p {
    font-size: 15px;
    padding: 3vh 8vw;
  }
}